body {
    margin: 0;
}

a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

li {
    list-style: none;
}

.navidiv {
    height: 70px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logodiv {
    display: flex;
    flex: 1;
    align-items: center;
}

.logo-img {
    width: 48px;
    height: 56px;
}

.right-side ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 370px;
    padding: 0;
    font-size: 16px;
}

.linqs {
    color: #e45826;
}

#prod{
    color: white;
    background-color: #e45826;
    padding: 8px 6px;
    cursor: default;
}


/* bar starts here */

.bardiv {
    display: flex;
    height: 290px;
    background-color: #4a3933;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

.left-bar {
    flex: 1;
    min-width: 270px;
    padding-left: 50px;
}

.honey-valley {
    margin-top: 28px;
    margin-bottom: 5px;
    color: #f0a500;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.makers-of {
    margin-bottom: 15px;
    color: #f0a500;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.our-mission {
    font-size: 13px;
    margin-bottom: 15px;
    color: white;
}

.view-prod-button {
    font-size: 17px;
    color: white;
    padding: 12px 10px;
    background-color:#e45826;
    border: none;
}

.bar-img {
    width: 426px;
    background-size: contain;
}

/* start of product section */

.what-we-offer-div {
    padding-left: 50px;
    height: 500px;
    margin-bottom: 1000px;
}


.what-we-offer-div p{
    font-size: 15px;
    color: #444444;
    margin-bottom: 20px;
}

.what-we {
    color: #444444;
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.offer-div {
    display: flex;
    padding-right: 20px;
}

.offer-img {
    width: 220px;
    border: 2px solid grey;
    margin-right: 85px;
    margin-left: 50px;
}

.three-offers {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.two-hundred-grams {
    flex: 1;
    text-align: center;
    padding: 40px 10px;
    background-color: #f8f5f1;
    border-radius: 5px;
    margin-right: 15px;
}

.most-popular {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 25px;
    margin-bottom: 15px;
    background-color: #e45826;
}

#most-pop-para {
    color: white;
}

.four-sev-container {
    padding: 0 10px;
}

.four-sev-fiv-grams {
    flex: 1;
    text-align: center;
    background-color: #f8f5f1;
    border-radius: 5px;
    border: 5px solid #e45826;
    margin-right: 15px;
}

.seven-fif-grams {
    flex: 1;
    max-width: 280px;
    text-align: center;
    padding: 40px 10px;
    background-color: #f8f5f1;
    border-radius: 5px;
}

.buy-now-cont button {
}

.buy-now {
    width: 270px;
    padding: 15px 0px;
    background-color: #e45826;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
}

#four-sev-button button {
    width: 270px;
    padding: 15px 0px;
    background-color: #e45826;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
}